<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.helmetble">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BLEScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BLESettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MessageActivity"
            android:screenOrientation="portrait" />


        <service
            android:name=".service.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>